@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: "HarmonyOS Sans", Arial, sans-serif !important; */
  font-family:
    "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif !important;
}

/* H3 titles font */
/* h1,
h2,
h3,
.main-home p,
footer p,
footer ul li,
footer input,
h4,
ul li {
  font-family:
    "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times,
    serif !important;
} */

.products-price p,
.products-price span,
h2.swal2-title,
footer .bottom-line {
  font-family: "Canela Text Web", serif !important;
}

/* confirm swal2 */
h2.swal2-title,
.swal2-html-container {
  color: #ffffff;
}

.swal2-html-container {
}

.search-wrapper input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* hide spinner for webkit */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@keyframes loadingSlide {
  0% {
    left: -100%;
    width: 40%;
  }
  50% {
    left: 30%;
    width: 70%;
  }
  100% {
    left: 100%;
    width: 40%;
  }
}

.loading-bar {
  position: absolute;
  top: 0;
  height: 100%;
  background-color: rgb(4 120 87); /* emerald-800 */
  animation: loadingSlide 1.2s ease-in-out infinite;
}
